name: Release

on:
  release:
    types: [published]

jobs:
  build:
    permissions:
      contents: write
    strategy:
      matrix:
        include:
          - os: macos-latest
            goos: darwin
            goarch: arm64
            name: giddy-macos-arm64
          - os: macos-13
            goos: darwin
            goarch: amd64
            name: giddy-macos-amd64
          - os: ubuntu-latest
            goos: linux
            goarch: amd64
            name: giddy-linux-amd64
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-go@v5
        with:
          go-version: '1.21'
      - name: Build binary
        run: GOOS=${{ matrix.goos }} GOARCH=${{ matrix.goarch }} go build -o ${{ matrix.name }} ./cmd/giddy
      - name: Upload to release
        run: gh release upload ${{ github.ref_name }} ${{ matrix.name }}
        env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
